/* assets/scss/common/_mixin.scss */

/* Clearfix */
@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* Ellipsis */
@mixin ellipsis($line: 1) {
  @if $line == 1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* Screen reader only (접근성) */
@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Focus outline (접근성) */
@mixin focus-ring {
  &:focus-visible {
    outline: 2px solid #005fcc;
    outline-offset: 2px;
  }
}

/* Media query */
$breakpoints: (
  sm: 768px,
  md: 1024px,
  lg: 1280px
);

@mixin respond($size) {
  @media (max-width: map-get($breakpoints, $size)) {
    @content;
  }
}
